/* RightNav.css */
/* Add this to your existing styles or create a new CSS file */

.scroll-container {
    max-height: calc(100vh -100px); 
    overflow-y: auto;
  }
  
.right-nav {
    position: fixed;
    top: 0;
    right: -300px;
    /* Initially, set it to be off-screen */
    width: 300px;
    height: 100%;
    /* background: var(--style-2, linear-gradient(111deg, #2BB673 -1.4%, #00425E 91.89%)); */
    background: #FFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
}
.nav-right{
    background: none !important;
    box-shadow: none !important;
}
.nav-right .profile-container img{
    margin-left: 0px !important;
}
.right-nav.open {
    right: 0;
    /* Move it on-screen when open */
}

.right-nav ul {
    list-style: none;
    padding: 0;
}

.right-nav li {
    margin-bottom: 10px;
    color: #000;
    cursor: pointer;
}
.right-bar .navbar-width{
    width: 50% !important;
}
.right-nav button {
    background:#00425E;
    border: none;
    border-radius: 10px;
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.right-bar {
    margin: 1% 1% 1% 2%;
    height: 12vh !important;
}
.right-btn {
    padding: 2px 10px;
    height: 50%;
    /* margin: 34px 5px; */
    border: none;
    border-radius: 8px;
    background: var(--style-2, linear-gradient(111deg, #2BB673 -1.4%, #00425E 91.89%));
}