<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /webbitech.co.in/matrimony/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /webbitech.co.in/matrimony/index.html [L]

</IfModule>